.profileDetails {
  display: flex;
  flex-direction: column;
}

.formProfile {
  position: relative;
  display: flex;
  border-bottom: 2px solid #eaeaea;
}
.profileDetails .formProfile {
  display: flex;
  flex-direction: column;
}

.profileInput {
  color: #999;
  width: 100%;
  border: none;
  text-align: end;
}

.profileInput:focus {
  outline: none;
}

.profileInput:not(:placeholder-shown)::placeholder {
  color: transparent;
}

label {
  position: absolute;
  top: 20px;
  left: 0;
  color: #1e1e1e;
  transition: all 0.2s ease;
}

.profileInput:focus + label,
.profileInput:not(:placeholder-shown) + label {
  top: -6px;
  color: #999;
  font-size: 9px;
}

.change_data_btn {
  margin-top: 60px;
  width: 280px;
  align-self: center;
}
